.button {
  border-radius: 3px;
  line-height: 1.5;
  background-color: #67a8e4;
  border: 1px solid #67a8e4;
  text-decoration: none;
  padding: 4px 18px;
  color: #fff;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #519ce0;
    border: 1px solid #519ce0;
  }
  &:disabled, &--loading {
    background: #8c96a3;
    border: 1px solid #8c96a3;
    cursor: not-allowed;
    &:hover {
      background: #8c96a3;
      border: 1px solid #8c96a3;
    }
  }
  .loader:after {
    background: #8c96a3;
  }
}
